build:iwyu --aspects @com_github_storypku_bazel_iwyu//bazel/iwyu:iwyu.bzl%iwyu_aspect
build:iwyu --output_groups=report


# Required for bazel_clang_tidy to operate as expected
build:clang-tidy --aspects @bazel_clang_tidy//clang_tidy:clang_tidy.bzl%clang_tidy_aspect
build:clang-tidy --output_groups=report

# Optionally override the .clang-tidy config file target
#build:clang-tidy --@bazel_clang_tidy//:clang_tidy_config=//:clang_tidy_config

# Shorthand for setting DESTDIR flag
build --flag_alias=DESTDIR=//:DESTDIR
