aclocal.m4
autom4te.cache
build-stamp
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure-stamp
debian/files
debian/filtergen.debhelper.log
debian/filtergen.substvars
debian/patches
depcomp
.deps
fgadm
fgadm.conf
filtergen
filtergen.spec
install-sh
Makefile
Makefile.in
missing
*.o
parser.c
parser.h
.pc
rules.filter
scanner.c
stamp-h1
t/convert
t/.deps
t/emit
test-driver
t/factorise
t/*.log
t/parse
t/scan
t/test-suite.log
t/*.trs
ylwrap
*.dh-orig
config.h.in~
debian/autoreconf.after
debian/autoreconf.before
/.sconsign.dblite
/cscope.out
/input/libsourcepos.a
/.sconf_temp/
