aclocal.m4
autom4te.cache
build-stamp
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure-stamp
debian/files
debian/filtergen.debhelper.log
debian/filtergen.substvars
debian/patches
depcomp
.deps
fgadm
fgadm.conf
filtergen
filtergen.spec
install-sh
Makefile
Makefile.in
missing
*.o
parser.c
parser.h
.pc
rules.filter
scanner.c
stamp-h1
t/convert
t/.deps
t/emit
test-driver
t/factorise
t/*.log
t/parse
t/scan
t/test-suite.log
t/*.trs
ylwrap
*.dh-orig
config.h.in~
debian/autoreconf.after
debian/autoreconf.before
/.sconsign.dblite
/cscope.out
/input/libsourcepos.a
/.sconf_temp/
*.gcda
*.gcno
*.gcov
*.a
input/iptables-save/t/emit
=======
*.[oa]
*.pyc
.sconf_temp
.sconsign.dblite
/config.log
/fgadm
/filtergen
/input/filtergen/parser.c
/input/filtergen/parser.h
/input/filtergen/scanner.c
/input/iptables-save/parser.c
/input/iptables-save/parser.h
/input/iptables-save/scanner.c
/ir/iremit
.sconsign
filtergen.log
filtergen.sum
input/filtergen/t/parse
input/filtergen/t/scan
input/iptables-save/t/parse
input/iptables-save/t/scan
/dbg.log
/input/iptables-save/t/convert
/testsuite/filtergen.input/fg.scan/dbg.log
/testsuite/filtergen.input/fg.scan/testrun.log
/testsuite/filtergen.input/fg.scan/testrun.sum
/testsuite/filtergen.input/ipts.scan/testrun.log
/testsuite/filtergen.input/ipts.scan/testrun.sum
