*.dh-orig
*.gcda
*.gcno
*.gcov
*.o
.deps
.pc
/.sconf_temp/
/.sconsign.dblite
/cscope.out
/input/libsourcepos.a
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-stamp
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure-stamp
debian/autoreconf.after
debian/autoreconf.before
debian/files
debian/filtergen.debhelper.log
debian/filtergen.substvars
debian/patches
depcomp
fgadm
fgadm.conf
filtergen
filtergen.spec
install-sh
missing
parser.c
parser.h
rules.filter
scanner.c
stamp-h1
t/*.log
t/*.trs
t/.deps
t/convert
t/emit
t/factorise
t/parse
t/scan
t/test-suite.log
test-driver
ylwrap
