Source: filtergen
Section: net
Priority: optional
Maintainer: Jamie Wilkinson <jaq@debian.org>
Build-Depends: debhelper (>> 4.0.0), flex
Standards-Version: 3.5.9.0

Package: filtergen
Architecture: any
Depends: ${shlibs:Depends}
Description: packet filter generator for various firewall systems
 filtergen is a packet filter generator.  It compiles a fairly high-level
 description language into iptables, ipchains, or ipfilter scripts (and has
 bits of support for Cisco IOS access lists).
